/* Basic reset */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* height: 300vh; */
}

/* Start NW CSS */

/* Home page */
#body-home {
  box-sizing: border-box;
  display: grid;
  /* font-size: calc(16px + 0.5vw); */
  background-color: whitesmoke;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 100vw;
}

/* Navigation Bar - Static */
#nav-bar {
  display: flex;
  grid-column: 1 / 4;
  width: 100vw;
  background-color: rgb(0, 59, 0);
  /* position: fixed;
  top:0;
  left:0; */
  font-size: calc(16px + 0.5vw);
}

#name {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24;
  font-weight: 600;
  width: 50%;
  margin-left: 2%;
}

#page-links {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  align-items: center;
}

.nav-link {
  margin-right: 2rem;
}

a:visited, a:link {
  color:white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Homepage main content */

#homepage-main {
  grid-row: 2 / 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr 5fr 5fr 1fr;
}

#homepage-img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#homepage-laptop {
  height: 40vh;
  width: fit-content;
}

#homepage-quote {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0,59,0); 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(42px + 1vw);
}

/* About Page Body */
 #about-body {
  width: 80vw;
  display: grid;
  grid-area: 1fr 4fr 4fr 1fr / 1fr 4fr 4fr 1fr;
 }

 .about-box {
  background-color: red;
 }

/* Footer - static */
Footer {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#copyright {
  grid-column-start: 2;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
#copyright-text {
  color: white;
}

#sm-links {
  grid-column-start: 3;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

}

.social-img {
  height: calc(2rem + 0.25vw);
  margin-right: 1rem;
  /* height: 3rem; */

}